:root {
  --main-color: #ff8e8e;
}

@font-face {
  font-family: 'ObjectSans';
  src: url(font/ObjectSans-Thin.otf);
  font-weight: 200;
}

@font-face {
  font-family: 'ObjectSans';
  src: url(font/ObjectSans-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'ObjectSans';
  src: url(font/ObjectSans-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: 'ObjectSans';
  src: url(font/ObjectSans-Heavy.otf);
  font-weight: 900;
}

html {
  scroll-behavior: smooth;
  font-family: 'ObjectSans';
}

/* TEXT */
h1 {
  font-weight: 400;
  font-size: 72px;
  line-height: 80px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
}

h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

h4 {
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
}

h5 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0px;
}

p {
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  font-weight: 400;
}

li {
  display: block;
  padding-right: 8px;
  font-weight: 400;
}

a {
  padding: 1px 2px;
  border-bottom-width: 1.6px;
  border-bottom-style: solid;
  border-bottom-color: var(--main-color);
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #000;
  background-color: var(--main-color);
  padding: 3px 2px 1px 2px;
  border-bottom-width: 1.6px;
  border-bottom-style: solid;
  border-bottom-color: var(--main-color);
  /* cursor: ne-resize; */
}

.assets li {
  padding-bottom: 8px;
}

#listItem a {
  padding: 16px;
}

#listItem a:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: none;
}

#readmore {
  border-bottom-width: 1.6px;
  border-bottom-style: solid;
  border-bottom-color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
}

/* LAYOUT */
nav li a {
  position: fixed;
  right: 16px;
  top: 24px;
  text-decoration: none;
  border-bottom: 0px solid #000;
  font-size: 40px;
  z-index: 10;
}

.intro, .content {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
}

.intro {
  margin-top: 24px;
  margin-right: 56px;
}

.intro .social {
  margin-top: 48px;
  margin-bottom: 72px;
}

.content{
  margin: 0 16px;
}

.project {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.cover {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.singleslide{
  margin-bottom: 16px;
}

.slideimg{
  object-fit: cover;
  height: 270px;
}

#top, #bottom, #left, #right {
  background-color: var(--main-color);
  position: fixed;
  z-index: 100;
}

#left, #right {
  top: 0;
  bottom: 0;
  width: 8px;
}

#top, #bottom {
  left: 0;
  right: 0;
  height: 8px;
}

#left {
  left: 0;
}

#right {
  right: 0;
}

#top {
  top: 0;
}

#bottom {
  bottom: 0;
}

/* OTHER SCREEN SIZES */
@media only screen and (min-width: 500px) {
  .content{
    margin: 0 24px;
  }
  .slideimg{
    object-fit: auto;
    height: 320px;
  }

}

@media only screen and (min-width: 760px) {
  .content{
    margin: 0 48px;
  }
  .singleslide{
    margin-bottom: 16px;
  }

  .slideimg{
    object-fit: auto;
    height: auto;
  }
}

@media only screen and (min-width: 960px) {
  .content{
    margin: 0 96px;
  }
}

@media only screen and (min-width: 1024px) {
  #left, #right {
    top: 0;
    bottom: 0;
    width: 12px;
  }

  #top, #bottom {
    left: 0;
    right: 0;
    height: 12px;
  }
}

@media only screen and (min-width: 1280px) {
  #left, #right {
    top: 0;
    bottom: 0;
    width: 16px;
  }

  #top, #bottom {
    left: 0;
    right: 0;
    height: 16px;
  }

  @media only screen and (min-width: 1480px) {
    @media only screen and (min-width: 2100px) {}
